body {
    background-color: #d62929;
}
/*헤더*/
.header {
    margin: 0;
    color: white;
}
div.header {
    padding: 10px;
}

/*테이블*/
table {
    border-collapse: collapse; width: 100%;
    border-color: lightgray;
}
th, td {
    text-align: left;
    padding: 8px;
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #4caf50;
    color: white;
}
tr:hover {
    background-color: yellow;
}